
    <!-- Start hero-section -->
    <section class="hero-section relative">
        <div class="container">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-6 content-wrap">
                    <h1>
                        {{ site.hero_product_fixed_image_name }}
                    </h1>
                    <p class="pt-20 pb-20 mw-510">
                        {{ site.hero_product_fixed_image_text }}
                    </p>
<!--                     <a href="{{ site.hero_product_fixed_image_btn_one_link | absolute_url }}" class="genric-btn2">
                        {{ site.hero_product_fixed_image_btn_one_text }}
                    </a> -->

<!--                 <div class="col-lg-8"> -->
                    <div class="cta-btn">
                        <a href="{{ site.cta_btn_link_one }}" class="ct-btn1 mr-sm-3 mb-sm-0 mb-3">{{ site.cta_btn_text_one }}</a>
                        <a href="{{ site.cta_btn_link_two }}" class="ct-btn2 active">{{ site.cta_btn_text_two }}</a>
                    </div>
<!--                 </div> -->



                <div class="col-lg-6">
                    <img class="hero-img4" src="{{ site.hero_product_fixed_image_image }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End hero-section -->
